.App {
  text-align: center;
}

.intro-h1 {
  font-family: "Courier New", Courier, monospace;
  margin-top: 70px;
}

.columnz {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 5px;
}

button {
  background: #efefef;
  color: black;
  transition: all 0.2s ease-in-out;
}
button:hover {
  background: black;
  color: #efefef;
}

nav {
  width: 100vw;
  padding: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: 1fr;
  align-items: center;
  width: 100%;
  height: 50px;
  border-bottom: rgb(18, 19, 15) solid 2px;
  background-color: rgba(245, 251, 252, 0.899);
  /* position: fixed; */
}
nav a {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  border-bottom: 2px solid transparent;
}
nav a:hover {
  border-bottom: 2px solid currentColor;
}

img {
  width: 35%;
}

.bakery-info-container {
  text-align: center;
  border: solid black 1px;
  margin: 30px;
  align-items: stretch;
  background-color: white;
}

.bakery-info-container h2 {
  font-weight: normal;
  background-color: rgba(185, 196, 191, 0.468);
  border-bottom: solid black 1px;
  padding: 5px;
  margin: 0;
  font-weight: bold;
}

.bakery-column-container img {
  border-radius: 60%;
}

.homepage-bakery-container {
  text-align: center;
  border: solid black 1px;
  margin: 30px;
  align-items: stretch;
  background-color: white;
}

.homepage-bakery-container h1 {
  font-weight: normal;
  background-color: rgba(185, 196, 191, 0.468);
  border-bottom: solid black 1px;
  padding: 5px;
  margin: 0;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

.text h2 {
  font-family: "Courier New", Courier, monospace;
}

.form-container {
  text-align: center;
  border: solid black 1px;
  margin-top: 10px;
  align-items: stretch;
  background-color: white;
  justify-content: center;
}

.form-container h3 {
  margin-top: 60px;
}

.intro-p {
  justify-content: center;
  margin-left: 30px;
  margin-right: 30px;
}

.footer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: fixed;
  bottom: 0;
  background-color: white;
  color: rgb(35, 41, 75);
  text-align: center;
  align-items: center;
  width: 100%;
  height: 30px;
  padding: 3px 0 10px 0;
  font-weight: bold;
  border-top: rgb(18, 19, 15) solid 1px;
}

.footer img {
  width: 20px;
  padding: 0 5px;
}

.shout-out {
  font-size: 10px;
}

@media screen and (max-width: 768px) {
  .columnz {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 425px) {
  .columnz {
    grid-template-columns: 1fr;
  }
}
